﻿@model List<Personne>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>La liste des personnes</h1>

@foreach(var item in Model)
{
    <div>@item.Prenom</div>
}
