﻿@model List<Personne>

<h1>La liste des personnes !!!</h1>

@if(Model.Count > 0)
{
    <select>
        @foreach (var item in this.Model)
        {
            <option>@(item.Prenom.ToLower())</option>
        }
    </select>
}
else
{
    <i>Aucune personne présente dans la liste</i>
}



